{% extends 'base.html' %}

{% block content %}
    <div class="container">

        {% if not lists %}
            <h1>Нет Задач</h1>

        {% else %}
            <h1>Задачи</h1>
            {% if is_paginated %}

                 {% include 'pagination.html' %}

            {% endif %}
            {% for list in lists %}
            <p>
                статус: {{ list.status }}
            </p>
                <p>Типы:
                {% for types in list.types.all %}
                    {{ types.type }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                </p>
                <h1>
                    <a href="{% url 'list_more' list.pk %}">{{ list.title }}</a>
                </h1>
            {% endfor %}


        {% endif %}
    </div>
{% endblock content %}