{% extends "partial/../base.html" %}
{% block title %} Удалить проекта{% endblock %}
{% block menu %}
    <li><a href="{% url 'project:more' project.pk %}">Назад к проекту</a></li>
{% endblock %}
{% block content %}
    <h1>Точно хотите удалить этого проекта? </h1>
    <form method="POST" action="{% url "project:delete" project.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Подтверждаю!"></p>
        <p><a href="{% url "project:more" project.pk %}">Отменяю</a></p>
    </form>
{% endblock %}