{% extends 'base.html' %}

{% block content %}
    <div >


        {% if not projects %}
            <h1>Нет проектов</h1>
        {% else %}

            {% include 'projects/../partial/simple_search.html' %}


            {% if is_paginated %}

                 {% include 'projects/pagination.html' %}

            {% endif %}
             <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>

    </tr>
  </thead>
  <tbody>
            {% for project in projects %}
                <tr>
{#            <td class="table-success">#}
{#                <a href="{% url 'list_more' list.pk %}">{{ list.title }}</a>#}
{#            </td>#}
            <td class="table-active">

                заголовок:  <a href="{% url 'project_more' project.pk %}">{{ project.title}}</a>
            </td>

            <td class="table-active">
                описание: {{ project.description }}
            </td>


                </tr>
            {% endfor %}
    </tbody>
</table>


        {% endif %}
    </div>
{% endblock content %}