{% extends 'partial/../base.html' %}

{% block content %}
    <div >


        {% if not lists %}
            <h1>Нет Задач</h1>
        {% else %}

            {% include 'lists/../partial/simple_search.html' %}


            {% if is_paginated %}

                 {% include 'lists/pagination.html' %}

            {% endif %}
             <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">Заголовок</th>
      <th scope="col">Статус</th>
      <th scope="col">Тип</th>
    </tr>
  </thead>
  <tbody>
            {% for list in lists %}
                <tr>
            <td class="table-success">
                <a href="{% url 'project:list_more' list.pk %}">{{ list.title }}</a>
            </td>
            <td class="table-active">
                статус: {{ list.status }}
            </td>
                <td class="table-active"><p>Типы:
                {% for types in list.types.all %}
                    {{ types.type }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                </p>
                </td>
                </tr>
            {% endfor %}
    </tbody>
</table>


        {% endif %}
    </div>
{% endblock content %}